.cont{
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding: 10px;

.select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #1e1d1d;
  .select-title{
    font-size: 16px;
    font-weight: 600;
  }
  .select-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    .btn{
      border-radius: 50%;
      border: 1px solid #1e1d1d;
      margin-left: 10px;
      cursor: pointer;
      &:hover{
        background-color: #1e1d1d;
        color: #fff;
      }
    }
  }
}
}
.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 100%;
  padding: 10px;
  background-color: #f17d7d;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
