.container {
  width: 400px;
  height: 150px;
}

.flex {
  display: flex;
}

.confirm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.btns {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.flex-1 {
  display: flex;
  gap: 30px;
}

