<div class="flex-container">
<div class="container">
  <div class="prj-container">
    <div class="project-container grid">
      <div *ngFor="let project of projects; let i = index">
        <div class="inner-container" [ngStyle]="{backgroundColor: project.color}" [routerLink]="['/main/boards', project.id]" (click)="saveProject(project.id)">
        <div class="add-project">
          <p class="prj-title">{{project.name}}</p>
        </div>
      </div>
      </div>

    </div>
</div>
  <mat-paginator [length]="projectsLength"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="settingsChanged($event)"
                 aria-label="Select page"
                 class="paginator">
  </mat-paginator>
</div>
</div>
