.flex {
  display: flex;
  gap:50px;
}

.flex-cont {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.btn {
  margin-top: 80px;
  margin-left: 10%;
}

.container {
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

