.flex {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.step-form-field {
  width: 300px;
}

.margin-auto {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

}
