@import '../../../../mixins';

form {
  .margin-auto {
    @include flex(space-evenly, center);
    flex-wrap: wrap;
    flex-direction: row;

    mat-form-field {
      flex-basis: 40%;
      min-width: 250px;
      background: none;

      input {
        width: 100%;
        margin: 0;
      }
    }

  /*  button {
      position: absolute;
      bottom: 50px;
      right: 50px;
    } */
  }
}




