<div class="container">
  <h1>New User</h1>
  <div class="flex">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Identity Number</mat-label>
        <input matInput placeholder="Identity Number" formControlName="identityNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close(false)">Cancel</button>
    <button mat-button (click)="save()">Save</button>
  </div>

</div>

