<div class="container" [ngClass]="mobile ? 'mobile' : ''" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Please Sign Up</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="inpField">
        <input type="text" id="firstName" name="first name" placeholder="First Name" formControlName="firstName"
               class="inputs"/>
        <div *ngIf="form.get('firstName')?.getError('required') && form.get('firstName')?.touched"
             class="validationMessage">First Name required!</div>
        <div *ngIf="form.get('firstName')?.hasError('whitespace') && form.get('firstName')?.touched
        &&!form.get('firstName')?.getError('required')"
             class="validationMessage">Please enter valid data without spaces!</div>
      </div>
      <div class="inpField">

        <input type="text" id="lastName" name="last name" placeholder="Last Name" formControlName="lastName"
               class="inputs"/>
        <div *ngIf="form.get('lastName')?.getError('required') && form.get('lastName')?.touched"
             class="validationMessage">Last Name required!</div>
        <div *ngIf="form.get('lastName')?.hasError('whitespace') && form.get('lastName')?.touched
        &&!form.get('lastName')?.getError('required')"
             class="validationMessage">Please enter valid data without spaces!</div>
      </div>

      <input type="email" placeholder="email" id="email" class="inputs" formControlName="email"/>
      <div *ngIf="form.get('email')?.getError('email') && form.get('email')?.touched"
           class="validationMessage">Please enter Email!</div>
      <div *ngIf="form.get('email')?.getError('required') && form.get('email')?.touched"
           class="validationMessage">Email required!</div>

      <input type="password" placeholder="Enter your password" id="password" class="inputs" formControlName="password"/>
      <div *ngIf="form.get('password')?.getError('required') && form.get('password')?.touched"
           class="validationMessage">Password required!</div>
      <div *ngIf="form.get('password')?.getError('whitespace') && form.get('password')?.touched
      &&!form.get('password')?.getError('required')"
           class="validationMessage">Please enter valid data without spaces!</div>
      <div *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched"
           class="validationMessage">Enter min 6 symbol</div>

      <input type="password" id="confirmPassword" name="password" placeholder="Confirm your password"
             formControlName="confirmPassword" class="inputs"/>
      <div *ngIf="form.get('confirmPassword')?.getError('required') && form.get('confirmPassword')?.touched"
           class="validationMessage">Please enter confirmation Password!</div>

      <div *ngIf="this.form.errors?.['notSame']&& form.get('confirmPassword')?.touched"
           class="validationMessage">password not match!</div>

      <button type="submit" class="inputs subBtn">
        <span *ngIf="!spinner">Submit</span>
        <mat-spinner class="spinner" *ngIf="spinner" [diameter]="diameter" color="accent"></mat-spinner>
      </button>
      <h4>Already have a account? <a routerLink="/login">Login</a></h4>
    </form>

  </div>
</div>
