<div class="container">
  <div class="choseUser"> <button mat-raised-button color="primary"
                (click)="addUser()">Choose User
  </button>
    <div *ngIf="chooseUserActive">
      <form [formGroup]="userForm" >
        <mat-form-field >
          <mat-label>Chose User</mat-label>
          <mat-select formControlName="userId">
            <mat-option *ngFor="let user of users$ | async" [value]="user.id" (click)="onSubmit()">
              {{user.firstName}}{{user.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary"
                type="submit" (click)="addNewUser()">Add New User
        </button>
      </form>

    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name</th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Is Active</th>
      <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary"
                [routerLink]="['/application/setting/users/edit/', element.id]">Edit
        </button>
        <button mat-raised-button color="warn"
                (click)="removeUser(element.id)">Remove
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
