<div class="menu">
  <div class="options2" routerLink="/application/setting/info">Projects List</div>
  <div class="options3" routerLink="/application/setting/board">Project Boards</div>
  <div class="options1" routerLink="/application/setting/edit/:id">Project edit</div>
  <div class="options3" routerLink="/application/setting/epics">Project Epic</div>

  <div class="options3" routerLink="/application/setting/issueType">Project Issue Types</div>
  <div class="options3" routerLink="/application/setting/users">Project Users</div>
  <div class="options3" routerLink="/application/main">main</div>
</div>
