<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>identityNumber</mat-label>
      <input matInput placeholder="Name" formControlName="identityNumber">
    </mat-form-field>

    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput placeholder="Name" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>mobileNumber</mat-label>
      <input matInput placeholder="Name" formControlName="mobileNumber">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  <button mat-button (click)="onSubmit()">Save</button>
</div>



