<footer #footer>
  <div class="items-count">
    <span>
      <h1>2569</h1>
      <h1>Users</h1>
    </span>
    <span>
      <h1>45873</h1>
      <h1>Projects</h1>
    </span>
    <span>
      <h1>758641</h1>
      <h1>Tasks</h1>
    </span>
  </div>
  <div class="content">
    <div>
      <h1>Try it for Free</h1>
      <button (click)="this.router.navigate(['/register'])" type="button">
        <div></div>
        <p>Register Now</p>
      </button>
    </div>
  </div>
  <div class="terms">
    <span>
      <h1><a class="logo" href="#header">
        <img src="assets/image/logo.svg" class="logo" >
      </a></h1>
      <p>© 2023 | All rights reserved | Terms</p>
    </span>
    <a href="" target="_blank">
      <img src="assets/images/github-character.png" alt="github">
    </a>
  </div>
</footer>
