@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7a1de0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b90f8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ce42bc;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "stepper";
@import "material";
