<div #project class="navigation">
  <app-navigation [scrolled]="scrolled"></app-navigation>
</div>

  <div class="projectList">
    Select Project:<select [ngModel]="currentProject?.id"
                            (ngModelChange)="selectedProject($event)" class="select">
    <option selected></option>
    <option *ngFor="let project of projects$ | async"
            [value]="project.id"
    >
      {{project.name}}
    </option>

  </select>
  </div>
<div class="container">
  <div class="sidebar">
    <ul>
      <li *ngFor="let board of boards$ | async">
        <a [routerLink]="['/dashboard', board.id]">{{board.name}}</a>
      </li>
    </ul>
  </div>
  <div class="content">

    <div *ngIf="!boardId">
      <h2>Dashboard</h2>
      <p>Choose a board from the sidebar</p>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
