@import "../../../../mixins";

@mixin button {
  padding: 0;
  border: none;
  border-radius: 50%;
  background: none;
  outline: none;
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  cursor: pointer;
  transition: .2s;

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    cursor: auto;
    opacity: .5;

    &:hover {
      transform: scale(1);
    }
  }
}

#testimonials {
  width: 100%;
  min-height: 100vh;
  @include flex(center, center);
  background: url("../../../../assets/images/undraw_annotation_re_h774.svg") no-repeat right bottom fixed;

  .container {
    @include flex(flex-start, center);
    width: 50%;
    background: rgba(#F7F6FE, .5);
    padding: 40px 100px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: .5s;

    p {
      text-indent: 30px;

      &:first-letter {
        color: #36A0E8;
        font-size: 2.5rem;
        letter-spacing: 5px;
        font-weight: bolder;
      }
    }

    .prev {
      @include button;
      left: 20px;
    }

    .next {
      @include button;
      right: 20px;
    }

    .content {
      min-width: 100%;
      background: rgba(white, .8);
      margin-right: 100px;
      padding: 20px 30px;
      border-radius: 10px;
      transition: .5s;

      span {
        @include flex(space-between, baseline);
      }
    }
  }

  .indicators {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    @include flex(center, center);
    gap: 10px;

    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #36A0E8;
      padding: 0;
      cursor: pointer;
      transition: .3s;

      &:disabled {
        background: #36A0E8;
        cursor: auto;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  #testimonials {
    .container {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  #testimonials {
    .container {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 930px) {
  #testimonials {
    padding-top: 50px;
    background-size: 40%;

    .container {
      width: 97%;
      padding: 10px 50px 50px 50px;

      .prev {
        left: 5px;
        width: 40px;
        height: 40px;
      }

      .next {
        right: 5px;
        width: 40px;
        height: 40px;
      }

      button {
        img {
          max-width: 100%;
          height: 100%;
        }
      }

      .content {
        padding: 15px 20px;

        img {
          width: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  #testimonials {
    padding-top: 40px;

    .container {
      width: 99%;
      padding: 10px 50px 40px 50px;

      .content {
        padding: 10px 10px;

        p {
          font-size: .8rem;
        }

        span {
          h3 {
            margin: 0;
          }
        }

        img {
          width: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  #testimonials {
    padding-top: 0;
    background-size: 100%;

    .container {
      width: 99%;
      padding: 10px 50px 40px 50px;

      .content {
        padding: 10px 20px;

        p {
          font-size: 1.2rem;
        }

        span {
          h3 {
            margin-top: 20px;
          }
        }

        img {
          width: 40px;
        }
      }
    }
  }
}
