
<mat-drawer-container class="mat-container" autosize>
  <mat-drawer #drawer class="sidenav" position="start" mode="side">
    <!--    <span class="material-icons close-btn" (click)="closeDrawer()">close</span>-->
    <ul>
      <li>
        <a routerLink="/main/projects">Projects</a>
      </li>
      <li>
        <a routerLink="/projects/setting/epics">Epics</a>
      </li>
      <li>
        <a routerLink="/projects/setting/issue-types">Issue Types</a>
      </li>
      <li>
        <a routerLink="">Home</a>
      </li>
    </ul>


  </mat-drawer>

  <div class="sidenav-content">
    <button type="button" (click)="toggleDrawer()" class="toggle-sidenav">
      <span class="material-icons" *ngIf="!isOpen">chevron_right</span>
      <span class="material-icons" *ngIf="isOpen">chevron_left</span>
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

